# System files
.DS_Store

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Data files
data/raw/*
data/interim/*
data/processed/*

# Model outputs
models/checkpoints/*
models/final/*
